.post_container {
    text-align: center;
    flex-direction: column;
  }
  
  .post_container h3 {
    margin-bottom: 0.2em;
  }
  
  .post_container .tags {
    display: flex;
    justify-content: center;
  }
  
  .tags p {
    margin-right: 1em;
  }
  
  .tags span {
    font-weight: bold;
  }

.image_preview {
    margin-top: 3em;
    max-width: 25%;
    margin-bottom: 1em;
}

@media (max-width: 768px) {
  .image_preview {
    max-width: 50%;
    margin-bottom: 1em;
    margin-top: 3em;
}
  .title {
    margin-top: 3em ;
    text-align: center;
    display: inline;
    flex-direction: column;
  }

}