.create_post {
    text-align: center;
  }
  
  .create_post h2 {
    font-size: 2.2em;
  }
  
  .create_post p {
    color: #284B63;
    margin-bottom: 2em;
  }
  

  @media(max-width: 768px) {
    .pRespon{
      font-size: 0.9em;
      word-break: break-all;
    }
  }